.icon-container {
  width: 100%;
}

.arrow-icon {
  font-size: 30px;
  margin-left: 3rem;
}

.arrow-icon:hover {
  color: var(--red);
}

.contenedor-principal {
  width: 100%;
  margin: 9rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.9rem;
}

.contenedor-contacto {
  font-weight: 500;
}

.contenedor-contacto a,
.contenedor-contacto span {
  color: var(--red);
}

.mailme {
  text-align: center;
  margin-top: 2rem;
}
.mailme a {
  text-decoration: none;
  color: var(--black);
}

.button-container {
  display: flex;
  flex-direction: column;
}

.contact-button {
  margin-top: 20px;
  padding: 10px 16px;
  background-color: var(--black);
  border: none;
  cursor: pointer;
  transition: 0.5s all;
}

.contact-button:hover {
  background-color: var(--red);
}

.contact-button a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.contact-phone:hover {
  color: var(--Black);
}

@media (min-width: 768px) {
  .contenedor-principal {
    width: 100%;
    margin: 8rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }

  .icon-container {
    width: 100%;
    display: flex;
  }

  .arrow-icon {
    cursor: pointer;
    margin-left: 15rem;
  }
}
