@media (min-width: 768px) {
  .contenedor-principal {
    width: 100%;
    margin: 8rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }

  .icon-container {
    width: 100%;
    display: flex;
  }

  .arrow-icon {
    cursor: pointer;
    margin-left: 15rem;
  }

  .projects-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    text-transform: uppercase;
  }

  .card {
    transition: transform 0.2s ease-in;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .projects-links a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 0.5rem;
    width: 200px;
    height: 50px;
    background-color: var(--black);
  }

  .projects-links a:hover {
    background-color: rgb(78, 78, 78);
    transition: 0.2s;
  }

  .projects-links a:last-child {
    background-color: var(--red);
    grid-row: 3;
    grid-column: 2;
  }
  .projects-links a:last-child:hover {
    background-color: rgb(207, 8, 8);
    color: var(--black);
  }
}

.contenedor-principal {
  width: 100%;
  margin: 9rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.icon-container {
  width: 100%;
}

.arrow-icon {
  font-size: 30px;
  margin-left: 3rem;
}

.arrow-icon:hover {
  color: var(--red);
}

.projects-links {
  display: grid;
  gap: 2rem;
  text-transform: uppercase;
}

.projects-links a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 0.5rem;
  width: 200px;
  height: 50px;
  background-color: var(--black);
}

.projects-links a:last-child {
  background-color: var(--red);
}

.projects-links a:last-child:hover {
  background-color: rgb(207, 8, 8);
}
