.contenedor{
    width: 82%;
    height: 300px;
    background-color: var(--red);
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.icon-map{
    font-size: 7rem;
}


.redess{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
}

.redess li{
    list-style: none;
  
}

.redess a{
    text-decoration: none;
    color: var(--black);
}


@media(max-width: 768px) {
    .contenedor{
        background-color: var(--red);
        width: 100%;
    }
}

